.faqs {
	background: rgba(24,27,33,.95);
	border-radius: 25px;
	bottom: -35px;
	color: #fff;
	left: 50%;
	max-width: 900px;
	padding: 35px 35px 70px;
	position: absolute;
	transform: translate(-50%, 100%);
	transition: $default-transition;
	width: 80%;
	
	&--active {
		transform: translate(-50%, 0%);
	}
	
	&__close {
		color: #fff;
		font-size: 2rem;
		position: absolute;
		right: 5px;
		top: 5px;
	}
}