.hero {
	position: relative;
	
	&__background {
		height: 100%;
		object-fit: cover;
		position: relative;
		width: 100%;
		
		@media all and (max-width: $break-medium) {
			margin: -9% 0 0 -40%;
			position: relative;
			width: 187%;
		}
	}
	
	&__date {
		left: 10.39%;
		position: absolute;
		top: 69%;
		width: 13.37%;
		
		@media all and (max-width: $break-medium) {
			left: 9.39%;
			top: 86%;
			width: 24%;
		}
		
		&:hover {
			img {				
				&:last-of-type {
					display: block;
				}
			}
		}
		
		img {
			width: 100%;
			
			&:last-of-type {
				display: none;
				left: -23%;
				position: absolute;
				top: 13%;
				width: 30%;
			}
		}
	}
	
	&__faqs {
		bottom: 5%;
		color: #fff;
		font-size: 2rem;
		left: 45%;
		position: absolute;
	}
	
	&__five {
		left: 49.75%;
		position: absolute;
		top: 44.53%;
		width: 13.05%;
		
		@media all and (max-width: $break-medium) {
			left: 52%;
			top: 45%;
			width: 18%;
		}
		
		&:hover {
			.hero__five__hover {
				display: block;
			}
		}
		
		&__hover {
			display: none;
			left: -67%;
			pointer-events: none;
			position: absolute;
			top: 4px;
			width: 206%;
			
			@media all and (max-width: $break-medium) {
				animation: five 4s step-end infinite;
				display: block;
				top: 1%;
				visibility: hidden;
			}
		}
		
		&__image {
			width: 100%;
		}
	}
	
	&__gradient {
		background: linear-gradient(180deg, rgba(63, 69, 85, 0.00) 0%, #0D0B0C 100%);
		bottom: 0;
		content: '';
		height: 8%;
		left: 0;
		position: absolute;
		width: 100%;
	}
	
	&__heart {
		left: 46%;
		position: absolute;
		top: 82%;
		width: 5%;
		
		@media all and (max-width: $break-medium) {
			top: 104%;
			width: 9%;
		}
		
		&:hover {
			.hero__heart__hover {
				max-height: 100px;
			}
		}
		
		&__hover {
			max-height: 0;
			overflow: hidden;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: $default-transition;
		}
		
		img {
			position: relative;
			width: 100%;
		}
	}
	
	img {
		height: auto;
	}
	
	&__location {
		left: 77.8%;
		position: absolute;
		top: 65.89%;
		width: 19%;
		
		@media all and (max-width: $break-medium) {
			left: 63.8%;
			top: 85.89%;
			width: 32%;
		}
		
		&:hover {
			img {
				&:last-of-type {
					display: block;
				}
			}
		}
		
		img {
			width: 100%;
			
			&:last-of-type {
				display: none;
				left: -20%;
				position: absolute;
				top: 42%;
				width: 19%;
			}
		}
	}
	
	&__moon {
		left: 76.67%;
		position: absolute;
		top: 12.06%;
		width: 12.39%;
		
		@media all and (max-width: $break-medium) {
			left: 81%;
			top: 12%;
		}
		
		&:hover {
			img {
				&:last-of-type {
					display: block;
				}
			}
		}
		
		img {
			width: 100%;
			
			&:last-of-type {
				display: none;
				left: -2%;
				position: absolute;
				top: -20%;
				width: 128%;
			}
		}
	}
	
	&__rsvp {
		left: 39%;
		position: absolute;
		top: 91%;
		width: 21.1%;
		
		@media all and (max-width: $break-medium) {
			left: 32%;
			top: 114%;
			width: 37.1%;
		}
		
		&:hover {
			img {
				&:first-of-type {
					display: block;
				}
			}
		}
		
		img {
			position: relative;
			width: 100%;
			
			&:first-of-type {
				display: none;
				left: 1%;
				position: absolute;
				top: 2%;
			}
		}
	}
	
	&__star {
		position: absolute;
				
		&--left-big {
			animation: star-left-big .85s step-end infinite;
			display: block;
			left: 9.16%;
			position: absolute;
			top: 14.1%;
			width: 9.77%;
			
			@media all and (max-width: $break-medium) {
				left: 8%;
				top: 12.1%;
				width: 9.5%;
			}
			
			&:hover {
				img {
					&:last-of-type {
						display: block;
					}
				}
			}
			
			img {
				width: 100%;
				
				&:last-of-type {
					display: none;
					left: -57%;
					position: absolute;
					top: -25%;
					width: 255%;
				}
			}
		}
		
		&--left-small-1 {
			animation: star-left-small-one 2s step-end infinite;
			left: 8.97%;
			position: absolute;
			top: 37.89%;
			width: 5.01%;
			
			@media all and (max-width: $break-medium) {
				left: 5%;
				top: 29%;
				width: 7%;
			}
		}
		
		&--left-small-2 {
			animation: star-left-small-two 1.25s step-end infinite;
			left: 23.91%;
			position: absolute;
			top: 7.66%;
			width: 4.4%;
			
			@media all and (max-width: $break-medium) {
				left: 21%;
				top: 6%;
			}
		}
		
		&--right-small-1 {
			animation: star-right-small-one .85s step-end infinite;
			left: 65.84%;
			position: absolute;
			top: 6.54%;
			width: 3.74%;
			
			@media all and (max-width: $break-medium) {
				left: 73%;
				top: 8%;
			}
		}
		
		&--right-small-2 {
			animation: star-right-small-two .65s step-end infinite;
			left: 85.39%;
			position: absolute;
			top: 38.08%;
			width: 3.2%;
			
			@media all and (max-width: $break-medium) {
				left: 89%;
				top: 27%;
				width: 5%;
			}
		}
	}
	
	&__togetherness {
		position: absolute;
		left: 24%;
		top: 15%;
		width: 48%;
		
		@media all and (max-width: $break-medium) {
			left: 7%;
			top: 10%;
			width: 85%;
		}
	}
	
	&__two {
		left: 41.68%;
		position: absolute;
		top: 46.85%;
		width: 8.87%;
		
		@media all and (max-width: $break-medium) {
			left: 40%;
			top: 46.3%;
			width: 12%;
		}
		
		&:hover {
			.hero__two__hover {
				display: block;
			}
		}
		
		&__hover {
			display: none;
			left: -98%;
			position: absolute;
			top: -17px;
			width: 290%;
			z-index: 2;
			
			@media all and (max-width: $break-medium) {				
				animation: two 4s step-end infinite;
				display: block;
				visibility: hidden;
				top: -11%;
			}
		}
		
		&__image {
			width: 100%;
		}
	}
}

@keyframes star-left-big {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(12deg);
	}
}

@keyframes star-left-small-one {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-90deg);
	}
	75% {
		transform: rotate(-135deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@keyframes star-left-small-two {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(9deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-14deg);
	}
}

@keyframes star-right-small-one {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}

@keyframes star-right-small-two {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-7deg);
	}
}

@keyframes five {
	0% {
		visibility: hidden;
	}
	25% {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
}

@keyframes two {
	0% {
		visibility: hidden;
	}
	75% {
		visibility: visible;
	}
}