.hero {
	position: relative;
	
	&__background {
		height: 100%;
		object-fit: cover;
		position: relative;
		width: 100%;
		
		@media all and (max-width: $break-large) {
			margin: -15% 0 0 -40%;
			position: relative;
			width: 187%;
		}
	}
	
	&__date {
		left: 10.39%;
		position: absolute;
		top: 69%;
		width: 13.37%;
		
		@media all and (max-width: $break-large) {
			left: 9.39%;
			top: 71%;
			width: 24%;
		}
	}
	
	&__faqs {
		bottom: 5%;
		color: #fff;
		font-size: 2rem;
		left: 45%;
		position: absolute;
	}
	
	&__five {
		left: 49.75%;
		position: absolute;
		top: 44.53%;
		width: 13.05%;
		
		@media all and (max-width: $break-large) {
			left: 52%;
			top: 39%;
			width: 18%;
		}
		
		&:hover {
			.hero__five__hover {
				display: block;
			}
		}
		
		&__hover {
			display: none;
			left: -67%;
			pointer-events: none;
			position: absolute;
			top: 4px;
			width: 206%;
			
			@media all and (max-width: $break-large) {
				animation: five 4s step-end infinite;
				display: block;
				top: 1%;
				visibility: hidden;
			}
		}
		
		&__image {
			width: 100%;
		}
	}
	
	img {
		height: auto;
	}
	
	&__location {
		left: 77.8%;
		position: absolute;
		top: 65.89%;
		width: 19%;
		
		@media all and (max-width: $break-large) {
			left: 61.8%;
			top: 69.89%;
			width: 32%;
		}
	}
	
	&__moon {
		left: 76.67%;
		position: absolute;
		top: 12.06%;
		width: 12.39%;
		
		@media all and (max-width: $break-large) {
			left: 83%;
			top: 6%;
		}
		
		&:hover {
			img {
				&:last-of-type {
					display: block;
				}
			}
		}
		
		img {
			position: absolute;
			width: 100%;
			
			&:last-of-type {
				display: none;
				left: 6px;
				position: relative;
				top: 7px;
			}
		}
	}
	
	&__star {
		position: absolute;
				
		&--left-big {
			animation: star-left-big .85s step-end infinite;
			left: 9.16%;
			position: absolute;
			top: 14.1%;
			width: 9.77%;
			
			@media all and (max-width: $break-large) {
				left: 6%;
				top: 9.1%;
				width: 9.5%;
			}
			
			// &:hover {
			// 	img {
			// 		&:last-of-type {
			// 			display: block;
			// 		}
			// 	}
			// }
			
			img {
				width: 100%;
				
				&:last-of-type {
					display: none;
					left: 6px;
					position: relative;
					top: -37px;
				}
			}
		}
		
		&--left-small-1 {
			animation: star-left-small-one 2s step-end infinite;
			left: 8.97%;
			position: absolute;
			top: 37.89%;
			width: 5.01%;
			
			@media all and (max-width: $break-large) {
				left: 4%;
				top: 25%;
				width: 7%;
			}
		}
		
		&--left-small-2 {
			animation: star-left-small-two 1.25s step-end infinite;
			left: 23.91%;
			position: absolute;
			top: 7.66%;
			width: 4.4%;
			
			@media all and (max-width: $break-large) {
				left: 21%;
				top: 3%;
			}
		}
		
		&--right-small-1 {
			animation: star-right-small-one .85s step-end infinite;
			left: 65.84%;
			position: absolute;
			top: 6.54%;
			width: 3.74%;
			
			@media all and (max-width: $break-large) {
				left: 75%;
				top: 3%;
			}
		}
		
		&--right-small-2 {
			animation: star-right-small-two .65s step-end infinite;
			left: 85.39%;
			position: absolute;
			top: 38.08%;
			width: 3.2%;
			
			@media all and (max-width: $break-large) {
				left: 90%;
				top: 25%;
				width: 5%;
			}
		}
	}
	
	&__togetherness {
		position: absolute;
		left: 24%;
		top: 15%;
		width: 48%;
		
		@media all and (max-width: $break-large) {
			left: 7%;
			top: 2%;
			width: 85%;
		}
	}
	
	&__two {
		left: 41.68%;
		position: absolute;
		top: 46.85%;
		width: 8.87%;
		
		@media all and (max-width: $break-large) {
			left: 40%;
			top: 40.3%;
			width: 12%;
		}
		
		&:hover {
			.hero__two__hover {
				display: block;
			}
		}
		
		&__hover {
			display: none;
			left: -98%;
			position: absolute;
			top: -17px;
			width: 290%;
			z-index: 2;
			
			@media all and (max-width: $break-large) {				
				animation: two 4s step-end infinite;
				display: block;
				visibility: hidden;
				top: -11%;
			}
		}
		
		&__image {
			width: 100%;
		}
	}
}

@keyframes star-left-big {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(12deg);
	}
}

@keyframes star-left-small-one {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-90deg);
	}
	75% {
		transform: rotate(-135deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@keyframes star-left-small-two {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(9deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-14deg);
	}
}

@keyframes star-right-small-one {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(-15deg);
	}
}

@keyframes star-right-small-two {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-7deg);
	}
}

@keyframes five {
	0% {
		visibility: hidden;
	}
	25% {
		visibility: visible;
	}
	50% {
		visibility: hidden;
	}
}

@keyframes two {
	0% {
		visibility: hidden;
	}
	75% {
		visibility: visible;
	}
}