html {
	background-color: rgba(13,13,13,1);
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

hr {
	background: #848DA2;
	border: 0;
	height: 1px;
	font-size: 0;
	margin: 50px auto;
	width: 50px;
}

p {
	margin: 0 0 25px;
}

ul {
	margin: 0 0 30px;
	
	li {
		margin: 0 0 5px;
	}
}