// Breakpoints
$break-large: '1023px';
$break-medium: '769px';
$break-small: '400px';

// Colors
$blue-dark: #19181D;
$peach: #E18C71;
$purple-light: #ACB9D4;

// Fonts
$font-courier-prime: 'Courier Prime', 'Courier New', monospace;
$font-source-sans: 'Source Sans 3', Helvetica, Arial, sans-serif;
 
// Transitions
$default-transition: 0.2s all ease-out;