RewriteEngine on

RewriteRule ^explore /index.php?path=explore
RewriteRule ^faqs /index.php?path=faqs
RewriteRule ^partytime /index.php?path=partytime
RewriteRule ^play /index.php?path=play
RewriteRule ^rsvp /index.php?path=rsvp
RewriteRule ^stay /index.php?path=stay